*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
.container{
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.center{
    width: 200px;
    height:200px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.center p{
    font-size: 30px;
    font-weight: 700;
}
.buttons{
    width: 200px;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}